#ui-datepicker-div {
	z-index: 20 !important;
}

.ui-datepicker {
	border-radius: 5px;
	box-shadow: 0 5px 15px rgba(0,0,0,0.1);
	display: none;
	margin: 15px 0px 0px 0px;
	padding: 0 0 12px;
	width: 279px;
}

.ui-datepicker .ui-datepicker-header {
	height: 55px;
	position: relative;	
}

.ui-datepicker .ui-datepicker-title {
    line-height: 1.8em;
    margin: 0 2.3em;
    text-align: center;
}

.ui-datepicker .ui-datepicker-title select {
    cursor: pointer;
	font-size: 1em;
    margin: 10px 0 0 16px;
	width: auto;
}

.select-box-calendar {
    background: #fff;
    border-radius: 5px;
    color: #444;
    cursor: pointer;
    font-weight: 700;
    margin: 10px 0 0;
    padding: 7px 0 8px;
    width: 179px;
}

.select-box-calendar:after {
    content: '\f107';
    font-family: FontAwesome;
    font-size: 14px;
    pointer-events: none;
    position: absolute;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    border-radius: 15px;
	color: #fff;	
    display: block;
	font-size: 19px;	
    height: 30px;	
	line-height: 26px;
	position: absolute;
	text-align: center;
	top: 15px;
	transition: background 0.4s;
    width: 30px;	
}

.ui-datepicker .ui-datepicker-prev:hover,
.ui-datepicker .ui-datepicker-next:hover {
    text-decoration: none;
}

.ui-datepicker .ui-datepicker-prev {
	left: 10px;
}

.ui-datepicker .ui-datepicker-next {
	right: 9px;
}

.ui-datepicker .ui-datepicker-next span {
	margin-left: 2px;
}

.ui-datepicker table {
	font-size: 14px;
	border-collapse: collapse;
	margin: 0 auto;
}

.ui-datepicker th {
	padding: 8px 0px 1px;
	text-align: center;
	font-size: 12px;
	font-weight: 800;
	color: #555555;
	border: 0;
}

.ui-datepicker td {
	padding: 1px 1px;
	width: 37px;
	position: relative;
}

.ui-datepicker td span,
.ui-datepicker td a {
	color: #444;
	display: block;
	text-align: center;
	text-decoration: none;
}

.ui-state-default{
    background: #fff;
	padding: 2px 0px 3px;
}

.ui-datepicker-unselectable .ui-state-default{
    background: #eee;
	color: #aaa;
    padding: 2px 0px 3px;
}

.ui-datepicker td .ui-state-default.ui-state-hover,
.ui-datepicker td .ui-state-default.ui-state-active {
    border: 2px solid;
	padding: 0 0 1px !important;
}

