/* Copyright AurelienD http://themeforest.net/user/AurelienD?ref=AurelienD */

/*
1) html tags
	1.1) html and body
	1.2) headings
	1.3) paragraph and lists
	1.4) misc
 
2) global layout (layout parts which appear on all pages)
	2.1) main and rows
	2.2) top header
	2.3) header
	2.4) main navigation
	2.5) small header
	2.6) mobile header
	2.7) small and mobile header
	2.8) header transition
	2.9) footer
 
3) specific layout (layout parts which appear only on certain pages)
	3.1) title area, call to action area and booking area
	3.2) hero image and transition image 
	3.3) breadcrumbs
	3.4) posts
	3.5) meta side
	3.6) meta bottom
	3.7) sidebar
	3.8) comments
 
4) elements
	4.1) button
	4.2) form elements
	4.3) social links
	4.4) dropcap
	4.5) tabs
	4.6) toggles
	4.7) testimonial
	4.8) features / amenities
	4.9) sliders
	4.10) pagination
	4.11) quick fact
	4.12) date and price
	4.13) table
	4.14) maps
	4.15) diamond
	4.16) masonry gallery
	
5) misc
*/

/* -------------------------- */
/* 1) html tags */
/* -------------------------- */

/* 1.1) html and body */

html {
	height: 100%;
}

body {
	background: #333;
	color: #444;
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: 'Helvetica Neue', Helvetica;
	font-size: 15px;
	line-height: 25px;
	-webkit-text-size-adjust: none;
}

/* end 1.1) html and body */

/* 1.2) headings */

h1, h2, h3, h4, h5, h6 {
	font-weight: 800;
	text-transform: uppercase;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: #444;
	text-decoration: none;
	transition: color 0.2s;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
	text-decoration: none;
}

h1 {
	font-size: 36px;
	line-height: 50px;
	padding-top: 7px;
	margin-bottom: 13px;
}

h1.post-title {
	margin-top: -5px;
	padding-top: 2px;
}

h2 {
	font-size: 24px;
	line-height: 30px;
	margin: 0 0 9px;
	padding-top: 6px;
}

h2.underlined {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	display: inline-block;
	font-size: 32px; 
	font-weight: 700;
	line-height: 50px;
	margin-bottom: 16px;
	padding: 63px 0 13px;  
	text-transform: none;
}

.sub-heading {
	color: #666;
	font-size: 19px;
	font-style: italic; 
	font-weight: 300;
	margin-bottom: 59px;
}

h3 {
	font-size: 18px;
	margin: -4px 0 4px;
}

h4 {
	font-size: 14px;
	line-height: 20px;
	margin: -5px 0 5px;
}

h5 {
	font-size: 12px;
	line-height: 20px;
	margin-bottom: -1px;
	padding-top: 1px;
}

h6 {
	font-size: 10px;
	line-height: 15px;
	margin-top: -1px;
	margin-bottom: 1px;
}


h2 + h3 {
	padding-top: 5px;
}

h3 + h4 {
	padding-top: 10px;
}

h5 + h6 {
	padding-top: 4px;
}

/* end 1.2) headings */

/* 1.3) paragraph and lists */

p, ul, ol {
    padding-top: 2px;
	margin-bottom: 23px;
}

i {
	font-size: 16px;
}

ul.disc-bullet li:before {
	content: '\f111';
    font-family: 'FontAwesome';
    font-size: 10px;
	margin-right: 6px;
	vertical-align: 7%;
}

ul li li {
	padding-left: 20px;
}

ul li ul {
	margin-bottom: 0;
	padding-top: 0;
}

ol {
	list-style-position: inside;
}
 
li .fa{
	font-size: 16px;
	width: 20px;
}

/* end 1.3) paragraph and lists */

/* 1.4) misc */

a:hover {
    text-decoration: underline;
}

blockquote {
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 20px;
    padding: 8px 20px 12px;
}

hr {
    border-style: solid;
    margin-bottom: 23px;
}

.hr-small {
	width: 25%;
}

/* end 1.4) misc */

/* --------------------------------------------------------------------------------- */

/* -------------------------- */
/* 2) global layout */
/* -------------------------- */

/* 2.1) wrapper and rows */

#wrapper {
	background: #fff;
}

.row {
	padding: 0 0 60px;
	position: relative;
}

#main-content {
	padding: 30px 0;
}

#breadcrumbs + #main-content {
	padding-top: 20px;
}

.container {
	position: relative;
	z-index: 1; 
}

.container + .container {
	padding-top: 40px;
}

.container-thighten .container {
	padding-top: 0;
}

/* 2.1) end wrapper and rows */

/* 2.2) top header */

.top-header {
	font-size: 13px;
	min-height: 50px;
	height: 50px;
	overflow: hidden;
}
 
.top-header-widgets {
	padding-bottom: 13px;
	padding-top: 12px;
	position: relative;
}

.contact-content span {
	float: left;
	margin-right: 40px;
}
 
.left-widget {
	opacity: 0;
}
 
.right-widget {
	position: absolute;
	right: 0;
	top: 12px;
}

.right-widget a:hover {
	text-decoration: underline;
}

.contact-details-trigger {
	display: none;
}
 
.contact-details-trigger span .fa-angle-down {
	display: inline;
}

.contact-details-trigger.active span .fa-angle-down {
	display: none;
}

.contact-details-trigger span .fa-angle-up {
	display: none;
}

.contact-details-trigger.active span .fa-angle-up {
	display: inline;
}

.top-header.mobile .contact-content {
	display: none;
}
	
.top-header.mobile .contact-details-trigger {
	display: inline;
}
	
.top-header.mobile .contact-content span {
	display: block;
	float: none;
	margin-right: 0;
}

.top-header:not(.mobile) .contact-content {
	display: block !important;
}

/* end 2.2) top header */
 
/* 2.3) header */

.header {
	background: #fff;
	/*border-bottom: 2px solid;*/
	height: 0px;
	width: 100%;
	z-index: 99;
}
 
#logo img{
	display: block;
	float: left;
	height: 55px;
	margin-top: 23px;
	/* width: 100px; */
}

#logo h1 {
	margin: 0;
	padding: 0;
}

.right-header {
	float: right;
	font-size: 14px;
	font-weight: 700;
	margin-top: 30px; 
	text-transform: uppercase;
 }
 
.right-header > * {
	float: left;
}
 
.right-header a {
	color: #fff;
}
 
.right-header a:hover {
	text-decoration: none;
}

/*.is-scrolling-header {
	position: relative;
	z-index: 99;
}*/

.fixed-header {
	background: rgba(255,255,255,0);
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
	left: 0;
	position: absolute;
	top: 0;
}

/* 2.3) end header */

/* 2.4) main navigation */

.responsive-menu {
	/*opacity: 0;*/
	opacity: 1;
}

.menubtn {
	display: none;
}
 
.sf-menu, 
.sf-menu * {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sf-menu {
	float: left; 
	margin-right: -10px;
}
 
.sf-menu li {
	position: relative;
}

.sf-menu a {
	display: block;
	position: relative;
	text-decoration: none;
}

.sf-menu > li > a {
	padding: 10px;
	position: relative;
}

.nav-current > a {
	color: #fff;
}

.sf-menu > li {
	float: left;
	margin-left: 24px;
	padding-bottom: 29px;
}
 
.sf-menu ul {
	background: #fff;
	background: rgba(255,255,255,0.95);
	border-bottom: 2px solid;
	border-top: 1px solid;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	display: none;
	left: -10px;
	position: absolute;
	top: 100%;
	width: 195px;
}
 
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}
 
.sf-menu ul li {
	border-top: 1px solid;
}

.sf-menu ul li a {
	padding: 11px 25px 12px 20px;
}
 
.sf-menu ul ul {
	border-top: none;
	left: 196px;
	top: -1px;
}
 
.sf-menu > li.dropdown-submenu > a:after {
	content: '\00a0\00a0\f107';
    font-family: 'FontAwesome';
    font-size: 14px;
}
  
.sf-menu  li.dropdown-submenu li.dropdown-submenu > a:after {
	color: #999;
	content: '\00a0\f105';
    font-family: 'FontAwesome';
    font-size: 14px;
	height: 40px;
	left: 88%;
	line-height: 40px;
	margin-top: -20px;
	position: absolute;
	top: 50%;
	transition: color 0.3s;
}

.sf-menu span {
	display: none;
}

.sf-menu-sub-left {
	 left: -196px !important;
}

.dropdown-submenu li {
	background: rgb(236, 236, 236);
}

/* end 2.4) main navigation */

/* 2.5) small header */

.small-header {
	height: 73px;
}

.small-header #logo img {
	margin-top: 15px;
	height: 40px;
	/* width: 73px; */
}
 
.small-header .right-header {
	margin-top: 18px;
}

.small-header .sf-menu > li {
	padding-bottom: 19px;
}

.small-header .sf-menu > li > a {
	padding-bottom: 5px;
	padding-top: 5px;
}

/* end 2.5) small header */
 
/* 2.6) mobile header */

.mobile-header .right-header > * {
	float: right;
}

.header.mobile-header .container {
	position: relative;
}
 
.mobile-header .sf-menu {
	display: none; 
	margin-right:0;
}
 
.mobile-header .sf-menu {
	background-color: #fff;
	border: 1px solid;
	box-shadow: 0 0 4px rgba(0,0,0,.2);
	position: absolute;
	right: 20px;
	top: 137px;
	width: 278px;
}
 
.mobile-header .sf-menu ul {
	border: none;
	border-top: 1px solid;
	box-shadow: 0 0 4px rgba(0,0,0,0);
	left: 0;
	position: relative;
	top: 0;
	width: 100%;
}
 
.mobile-header .sf-menu li:hover > ul,
.mobile-header .sf-menu li.sfHover > ul {
	display: none;
}
 
.mobile-header .sf-menu li {
	border: none;
	border-bottom: 1px solid;
	margin: 0;
	padding: 0;
	width: 100%;
 }
 
.header.mobile-header .right-header .responsive-menu .sf-menu li:last-child {
	border-bottom: none;
}
 
.header.mobile-header .right-header .responsive-menu .sf-menu li a {
	border: none;
	padding: 12px 45px 11px 20px;
}
 
.header.mobile-header .right-header .responsive-menu .sf-menu li li a {
	padding: 12px 45px 11px 40px;
}
 
.header.mobile-header .right-header .responsive-menu .sf-menu li li li a {
	padding: 12px 45px 11px 60px;
}
 
.mobile-header .sf-menu > li.dropdown-submenu > a:after, .mobile-header .sf-menu > li.dropdown-submenu > a:before,
.mobile-header .sf-menu li.dropdown-submenu li.dropdown-submenu > a:after, .mobile-header .sf-menu li.dropdown-submenu li.dropdown-submenu:before {
	display: none;
}

.header.mobile-header span.plus-minus {
	border: 2px solid;
	cursor: pointer;
	display: block;
	font-size: 28px;
	font-family: 'Open Sans', sans-serif;
	height: 26px;
	line-height: 25px;
	overflow: hidden;
	position: absolute;
	right: 10px;
	top: 9px;
	text-align: center;
	width: 26px;
}
 
.header.mobile-header span.plus-minus span.plus{
	display: block;
	font-weight: 400;
	margin-left: 1px;
}

.header.mobile-header span.plus-minus span.minus{
	display: none;
	font-size: 26px;
	font-weight: 700;
	margin-top: -12px;
}
 
.mobile-header .menuOpen > span .minus {
	display: block !important;
}

.mobile-header .menuOpen > span .plus {
	display: none !important;
}
 
.mobile-header .menubtn {
	border-radius: 5px;
	color: #fff;
	display: block;
	height: 41px;
	overflow: hidden;	
	padding: 0;
	width: 41px;	
}

.mobile-header .menubtn .fa {
	color: #fff;
	float: left;
	font-size: 21px;
	line-height: 41px;
	text-indent: 0;
	text-align: center;
	width: 100%;
}

/* end 2.6) mobile header */

/* 2.7) small and mobile header */

.header.small-header.mobile-header .right-header .responsive-menu .sf-menu {
	top: 89px;
}

.header.small-header.header.mobile-header .right-header {
	margin-top: 14px;
}

/* end 2.7) small and mobile header */

/* 2.8) header transitions */

.header {
	transition: height 0.4s;
}

.right-header a {
	transition: color 0.3s;
}

#logo img {
	transition: height 0.8s, width 0.8s, opacity 0.6s;
}

.mobile-header .menubtn {
	transition: background 0.4s;
}

.mobile-header span.plus-minus {
	transition: border-color 0.3s, color 0.3s;
}

/* end 2.8) header transitions */

/* 2.9) footer */

#top-footer {
	padding: 45px 0 20px;
}

#bottom-footer {
	font-size: 13px;
	line-height: 20px;
	padding: 25px 0 10px;
}

#bottom-footer [class*="column"] {
	padding-bottom: 15px;
}

#bottom-footer ul {
	float: right;
	margin: 0;
	padding: 0;
}

#bottom-footer ul li {
	float: left;
	padding-left: 30px;
	text-transform: uppercase;
}

/* end 2.9) footer */

/* end 2) global layout */

/* --------------------------------------------------------------------------------- */

/* -------------------------- */
/* 3) specific layout */
/* -------------------------- */

/* 3.1) title area / call to action area / booking area */

#title-area {
	color: #fff;
	padding: 48px 0 55px;
}

.call-to-action-area {
	color: #fff;
	padding: 40px 0 45px;
}

.call-to-action-area h1,
#title-area h1 {
	margin-bottom: 0;
	padding-top: 0;
}

#title-area p, 
.call-to-action-area p {
	font-size: 24px;
	line-height: 35px;
	margin-bottom: 0;
	padding-top: 0;
}

.call-to-action-area .button-big {
	margin: 45px 0 10px;
	transition: color 0.4s;
}

.call-to-action-area .button-medium {
	margin: 34px 0 10px;
	transition: color 0.4s;
}

.call-to-action-area .button {
	margin: 27px 0 5px;
	transition: color 0.4s;
}

.booking-area {
	/*margin-top: -147px;*/
	padding: 20px 0 40px;
	position: absolute;
	/*top: -147px;*/
	transform: translateY(-100%);
	width: 100%;
}

.booking-area p {
	margin-bottom: 0;
	position: relative;
}

.booking-area label,
.booking-area input[type="text"],
.booking-area .select-box,
.booking-area .select-box:after {
	/*border-color: rgba(255,255,255,0.6);
	color: #fff;*/
	border-color: rgba(27,167,210,0.6);
	color: rgba(0,79,108,1);
}

.booking-area input[type="text"].error {
	border-color: rgba(252, 105, 46, 0.8);
}

.booking-area .button-big {
	margin: 37px 0 0;
	padding: 12px 0px 13px;
	width: 100%;
}

.booking-area .ui-datepicker-trigger,
.booking-area .ui-datepicker-trigger:hover {
	color: rgba(255,255,255,0.8);
}

/* end 3.1) title area / call to action area / booking area */

/* 3.2) hero image and transition image */

#hero-img {
	/*background: #000 url(../loader-gif/loader-black.gif) no-repeat center center;*/
	position: relative;
}

@media only screen and (min-width: 1320px) {
	#hero-img.hero-home-page {
		background: #000 url(../loader-gif/loader-black.gif) no-repeat center 107px
	}
}

#hero-img.taller-img {
	/*height: 400px;*/
	height: 100%;
}

#hero-img img,
.transition-image img {
	display: block;
	/*opacity: 0;*/
	width: 100%;
}

.transition-image img {
	opacity: 0.3;
}

#hero-img.small-hero,
.transition-image.small-transition {
	height: 200px !important;
	overflow: hidden;
}

#hero-img.taller-img.small-hero {
	height: 250px !important;
}

#hero-img.small-hero img,
.transition-image.small-transition img {
	height: 200px;
	left: 50%;
	margin-left: -375px;
	position: absolute;
	width: 750px;
}

#hero-img.taller-img.small-hero  img {
	height: 250px;
} 

#hero-img-caption-wrapper {
	bottom: 147px;
	position: absolute;
	top: 0;
	width: 100%;
}

#hero-img-caption {
	color: #fff;
	height: 100%;
	/*opacity: 0;*/
	opacity: 1;
	position: absolute;
	text-align: center;
	text-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.2);
	top: 0;
	width: 100%;
}

#hero-img-caption .container {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
  
.caption-sub-heading {
	font-size: 26px;
	line-height: 30px;
	margin-bottom: 0;
}

.caption-heading {
	font-size: 56px;
	font-weight: 800;
	line-height: 50px;
	margin-bottom: 13px;	
	text-transform: uppercase;
}

.small-hero .caption-heading {
	font-size: 32px;
	line-height: 30px;
}

.caption-call-to-action {
	margin-bottom: 0;
	padding-top: 22px;
}

.caption-call-to-action .button-big {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	text-shadow: none;
}

.caption-call-to-action .button-big:active {
	box-shadow: none;
}

.transition-image-wrapper {
	position: absolute;
	width: 100%;
}

.transition-image {
	max-width: 1300px;
	position: relative;
	width: 100%;
	z-index: 0;
}

.transition-image-bottom {
	margin: 0 auto -130px auto;
	top: -100px; 
}

.transition-image-top {
	max-width: 100%;
	position: absolute;
	top: 0;
}

.transition-image.transition-image-top img {
	opacity: 0.1;
}

.transition-gradient-top,
.transition-gradient-bottom {
	height: 50%; 
	position: absolute; 
	width: 100%; 
}

.transition-gradient-top {
	background-image: linear-gradient( #fff, rgba(255,255,255,0) );
	top: 0; 
}

.transition-gradient-bottom {
	background-image: linear-gradient( to bottom, rgba(255,255,255,0), #fff );
	bottom: 0;
}

.transition-gradient-top-bis,
.transition-gradient-bottom-bis {
	height: 25%; 
}

.transition-gradient-left,
.transition-gradient-right {
	background-image: linear-gradient( to right, #fff, rgba(255,255,255,0) );
	height: 100%;
	position: absolute; 
	top: 0; 
	width: 25%;  
}

.transition-gradient-right {
	background-image: linear-gradient( to left, #fff, rgba(255,255,255,0) );
	right: 0;
}

/* end 3.2) hero image and transition image */

/* 3.3) breadcrumbs */

#breadcrumbs {
	padding-top: 20px;
}

#breadcrumbs p {
	color: #777;
	float: right;
	font-size: 13px;
	margin-bottom: 0;
}

/* end 3.3) breadcrumbs */

/* 3.4) posts */

.news {
	margin-bottom: 40px;
}

.news h2 {
	padding-top: 1px;
	text-align: center;
}

.home-news-wrapper {
	padding: 40px 0 0 10px;
}

.row.row-news {
	padding: 0;
}

.row-news hr {
	margin-bottom: 0;
}

.home-news-meta {
	font-size: 13px;
	font-style: italic;
	margin-bottom: 22px;
	padding-top: 3px;
}

.home-news-content {
	margin-bottom: 41px;
}

/* end 3.4) posts */

/* 3.5) meta side */

#meta-side {
    margin-top: -3px;
	padding: 13px 0 15px;
    position: relative;
    text-align: center;
    word-break: break-all;
}

#meta-side h5 {
    border-bottom: 1px solid;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 17px;
    padding: 6px 0 3px;
	text-transform: none;
    width: 60px;
    word-break: normal;
}

#meta-side .date {
    margin: 0 0 13px -2px;
}

#meta-side .comment-bubble {
    display: block;
    font-size: 60px;
    margin: -6px auto 14px;
    position: relative;
	width: 60px;
}

#meta-side .comment-bubble:hover span {
	text-decoration: underline;
}

#meta-side .comment-bubble span {
    display: inline-block;
    font: 700 30px/32px 'Open Sans', 'sans-serif';
    padding: 0;
    position: relative;
    top: -11px;
}

#meta-side .comment-bubble:before {
    left: 0;
    position: absolute;
    right: 0;
}

#meta-side .author a {
    display: block;
	margin-left: auto;
	margin-right: auto;
	width: 62px;
}

#meta-side .author-image {
    display: block;
    margin: 0 auto 7px;
	padding-top: 3px;
}

#meta-side .author-name {
    display: block;
    font-size: 13px;
    font-weight: 700;
    margin: -4px 0 12px;
}

#meta-side .social-link-wrapper {
	margin-bottom: 20px;
	padding-top: 3px;
}

#meta-side .social-link {
    margin: 0 auto 10px;
	width: 30px;
}

#meta-side .categories div,
#meta-side .tags div {
    margin: -5px 0 14px;
}

#meta-side .category,
#meta-side .tag {
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    line-height: 15px;
    margin: 0 auto 4px;
}

/* end 3.5) meta side */

/* 3.6) meta bottom */

.meta-bottom {
	font-size: 12px;
    margin: 0 0 30px;
    padding: 8px 20px 12px;
}

/* end 3.6) meta bottom */

/* 3.7) sidebar */

#sidebar .section {
    margin-bottom: 58px;
}

#sidebar h4 {
    border-bottom: 2px solid;
    display: inline-block;
    float: left;
	margin: 0;
    padding: 5px 0 13px;
}

#sidebar h4 + * {
    clear: left;
}

#sidebar h4 + p {
	padding-top: 12px;
}

.search-form  {
	margin-bottom: 0;
	padding-top: 15px;
}

.search-form p {
	margin-bottom: 0px;
	max-width: 370px;
	position: relative;
}

.search-form button {
	background: transparent;
	border: none;
	font-size: 20px;
	margin: 0;
	padding: 10px;
	position: absolute;
	right: 8px;
	top: 16px;
	transition: color 0.4s;
}

.search-form button:hover {
	background: transparent;
}

.search-form button:active {
	transition: color 0s;
}

#sidebar ul {
	margin-bottom: 24px;
}

#sidebar ul a {
    display: block;
    padding: 11px 0 13px;
}

#sidebar ul li:first-child {
	margin-top: -1px;
}

#sidebar ul li {
    border-bottom: 1px solid;
}

#sidebar ul li:last-child {
    border-bottom: none;
}

#sidebar ul li:last-child a {
    padding-bottom: 15px;
}

#sidebar .latest-posts-container {
	margin-bottom: 58px;
}

#sidebar a > span {
    color: #aaa;
    display: inline-block;
    font-size: 12px;
	line-height: 20px;
    margin: 0 0 0 4px;
}

#sidebar p.date {
	color: #444;
    margin: 2px 20px 0 0;
	padding: 0;
    float: left;
}

#sidebar .day {
    font-size: 24px;
    margin: 0 2px 0 0;
}

#sidebar .month {
    font-size: 10px;
}

#sidebar .year {
    font-size: 9px;
}

#sidebar .tag-container {
	margin-bottom: 12px;
}

#sidebar a.tag {
    border: 1px solid;
    float: left;
    display: inline-block;
    padding: 5px 20px 8px;
    margin: 20px 10px -10px 0;
}

#sidebar a.tag:hover {
    text-decoration: none;
}

#sidebar a.tag {
	transition: border-color 0.2s;
}

/* 3.7) sidebar */

/* end 3.8) comments */

#comments {
	margin-bottom: 50px;
	padding-top: 20px;
}
	
.comment {
    padding: 25px 0 0;
}

.comment:first-of-type {
	padding-top: 15px;
}

.comment.inner {
    padding-left: 90px;
}

.comment .profile {
    float: left;
}

.comment .comment-bubble {
    border: 2px solid;
    margin: 0 0 0 90px;
    padding: 0 18px 10px;
    position: relative;
}

.comment .comment-bubble:before {
    border-top-color: transparent!important;
    border-bottom-color: transparent!important;
    border-left-color: transparent!important;
    border-style: solid;
    border-width: 9px 9px 9px 0;
    content: '';
    height: 0;
    left: -9px;
    position: absolute;
    top: 20px;
    width: 0;
}

.comment .comment-bubble:after {
    border-color: transparent #fff transparent transparent;
    border-style: solid;
    border-width: 6px 6px 6px 0;
    content: '';
    height: 0;
    left: -6px;
    position: absolute;
    top: 23px;
    width: 0;
}

.comment p {
    display: block;
    margin: 5px 0 0;
    clear: none;
}

.comment .comment-bubble .profile-name {
    font-size: 14px;
    font-weight: 700;
    margin: 11px 0 0;
}

.comment.author-comment .profile-name span {
    font-size: 12px;
    font-weight: 400;
}

.comment.author-comment .comment-bubble:after{
    border-top-color: transparent!important;
    border-bottom-color: transparent!important;
    border-left-color: transparent!important;
}

.comment .comment-bubble .reply {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    margin: 6px 0 0;
}

.comment .date {
    margin: 0;
    min-width: 54px;
    padding: 4px 8px 2px 8px;
    position: absolute;
    right: 0;
    top: 0;
}

.comment .date .day {
    font-size: 24px;
    margin: 0 2px 0 0;
}

.comment .date .month {
    font-size: 10px;
}

.comment .date .year {
    font-size: 9px;
}

#post-comment {
	margin-bottom: 40px;
}

#post-comment form {
	padding-top: 5px;
}

/* end 3.8) comments */

/* end 3) specific layout */

/* --------------------------------------------------------------------------------- */

/* -------------------------- */
/* 4) elements */
/* -------------------------- */

/* 4.1) buttons */

.button,
.button-medium,
.button-big {
    border: none;
	border-radius: 5px;
    box-sizing: content-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
	font: inherit;
    font-size: 14px;
    font-weight: 700;	
	line-height: 25px;
    margin: -2px 20px 7px 0;
    outline: none;
    padding: 7px 20px 8px;	
	text-transform: uppercase;
	transition: background 0.4s;
}

.button-medium {
    padding: 12px 25px 13px;
}

.button-big {
    padding: 17px 30px 18px;
}

.button:hover,
.button-medium:hover,
.button-big:hover {
    text-decoration: none;
}

.button:active,
.button-medium:active,
.button-big:active {
	transition: background 0s;
}

/* end 4.1) buttons */

/* 4.2) form elements */

form {
	margin-bottom: 30px;
}

.form-content-centered {
	margin: 0 auto;
	max-width: 370px;
}

label {
    color: #444;
    display: block;
    font-weight: 700;
}

input[type="text"],
textarea,
.select-box,
select {
	background: transparent;
    border-radius: 5px;
    border: 2px solid;
    box-shadow: none;
    box-sizing: border-box;
    clear: both;
    display: block;
    font-size: 15px;
    height: 50px;
    line-height: normal;
    margin: 10px 0 0;
    max-width: 100%;
	outline:none;
    padding: 12px 15px 14px;
	transition: border-color 0.2s;
    width: 100%;
    -webkit-appearance: none;
}

input[type="text"].error,
textarea.error,
.select-box.error {
	border-color: #f51;
}

input[type=text]::-ms-clear { 
	display: none; 
}

textarea {
	font-family: inherit;
    height: 170px;
    line-height: 25px;
	max-width: 100%;
	overflow: auto;
	padding-top: 10px;
    resize: none;
}

select {
	cursor: pointer;
	z-index: 10;
}

.select-box {
	margin-bottom: 0;
    padding: 12px 62px 14px 15px;
	position: relative;
}

/*Need jQuery for this*/
.select-box:after {
    content: "\f107";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    position: absolute;
    right: 17px;
    top: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.checkbox-container,
.radio-container {
	margin-bottom: 18px;
}

.checkbox + label,
.radio + label {
	cursor: pointer;
	display: inline-block;
	float: left;
	font-weight: 400;
}

.checkbox,
.radio {
    border: 2px solid;
	clear: both;
    cursor: pointer;
    float: left;
    height: 12px;
	margin: 5px 8px 0 0;
	transition: border-color 0.2s;
    width: 12px;
}

.radio {
    border-radius: 50%;
}

.checkbox .tick {
    display: none;
    font-family: FontAwesome;
    font-size: 12px;
    position: absolute;
    top: -6px;
    left: 0px;
}

.checkbox.checked .tick{
    display: block;
}

.radio .circle{
    border-radius: 50%;
    height: 8px;
    display: none;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 8px;
}

.radio.checked .circle{
    display: block;
}

input[type="submit"] {
	margin-top: 13px;
	-webkit-appearance: none;
}

.input-datepicker {
	float: left;
}

.ui-datepicker-trigger {
	background: none;
    box-sizing: border-box;
    float: left;
	font-family: FontAwesome;
    font-size: 21px;
	font-weight: 400;
    height: 50px;
	line-height: 1;
    margin: 10px 0 0 -50px;
    min-width: 50px;
    padding: 15px 10px 17px;
	transition: color 0.4s;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ui-datepicker-trigger:before {
    content: "\f073";
}

h2.form-title {
	margin-bottom: 19px;
	text-align: center;
}

.has-error .select-box {
	border-color: #f51;
}

span.help-block.form-error {
	clear: both;
	color: #f51;
	display: block;
	font-size: 13px;
	font-weight: 700;
	padding-top: 5px;
}

.booking-area span.help-block.form-error {
	color: #f7bfa9;
	margin-bottom: -15px;
}

.form-processing {
	background: url(../loader-gif/loader-white.gif) no-repeat center left;
	display: none;
	height: 32px;
	line-height: 32px;
	padding-left: 40px;
}

form.submitted input[type="submit"] {
	cursor: default;
}

.form-result-wrapper {
	display: none;
	padding-top: 10px
}

.form-result {
	margin-bottom: 20px;
	padding: 13px 18px 3px;
}

.form-result-ok {
	background: #c7eeb7;
	border: 2px solid #8ec478;	
	background: #d2e7ba;
	border: 2px solid #5c832f;
	
}

.form-result-ko {
	background: #edbbb2;
	border: 2px solid #f1826e;
}

.form-result p,
.form-result ul {
	margin-bottom: 13px;
}

#sidebar .form-result ul li {
	border-bottom: none;
}

#sidebar .form-result ul li:first-child {
	margin-top: 0;
}

/* end 4.2) form elements */

/* 4.3) social links */

.social-link {
    box-sizing: border-box;
    display: block;
    margin: 10px auto 0;
    text-align: center;
}

.social-link i {
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    height: 30px;
    line-height: 32px;
    width: 30px;
}

.social-link.facebook-button i {
    background: #3b5998;
    padding-left: 1px;
    width: 29px;
}

.social-link.googleplus-button i {
    background: #dd4b39;
    line-height: 34px;
    padding-left: 3px;
    width: 27px;
}

.social-link.twitter-button i {
    background: #00aced;
    line-height: 33px;
    padding-left: 2px;
    width: 28px;
}

.social-link.pinterest-button i {
    background: #cb2027;
}

.social-links-list {
    display: inline-block;
}

.social-links-list .social-link {
    float: left;
    clear: both;
	margin-top: 9px;
}

.social-links-list .social-link i {
    float: left;
}

.social-links-list .social-link span{
    display: inline-block;
    float: left;
    font-size: 15px;
    margin: 2px 0px 0px 10px;
}

.social-links-list .social-link:hover span {
	text-decoration: underline;
}

/* end 4.3) social links */

/* 4.4) dropcap */

.dropcap:first-letter {
    float: left;
    font-size: 48px;
    font-weight: 800;
    margin: 13px 5px -5px 0;
    text-transform: capitalize;
}

/* end 4.4) dropcap */

/* 4.5) tabs */

.tabs {
    border-left: 2px solid;
    border-radius: 5px 0px 0px 0px;
}

.ui-tabs {
	position: relative;
}

.ui-tabs .ui-tabs-nav {
	margin: 0;
}

.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	margin: 0 2px 0 0;
	padding: 0;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	float: left;
	text-decoration: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	border-bottom: 2px solid #fff!important;
	color: #444;
	margin-bottom: -2px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
	cursor: text;
}

.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
	cursor: pointer;
}

.ui-tabs .ui-tabs-panel {
	display: block;
	padding: 15px 18px 8px;
	background: none;
}

.ui-tabs-nav > li {
    border: 2px solid;
    border-radius: 5px 5px 0px 0px;
    height: 100%;
	text-transform: uppercase;
}

.ui-tabs-anchor {
    color: #aaa;
    font-weight: 800;
    padding: 11px 23px 10px;
}

.ui-tabs-active .ui-tabs-anchor {
	color: #444;
}

.ui-tabs-panel {
    border: 2px solid;
}

.ui-tabs-panel,
.ui-tabs-nav > li:first-child {
    border-left: none;
}

.tabs-buttons .ui-tabs-nav > li {
    max-width: none;
}

.ui-tabs-nav > li {
    border-bottom: none!important;
}

.ui-tabs-nav > li.ui-state-active.ui-state-hover {
    background: none;
}

.ui-tabs-panel p, .ui-tabs-panel ul {
	margin-bottom: 13px;
}

.tabs-buttons .ui-tabs-nav > li,
.tabs.tabs-buttons {
    border: none!important;
}

.tabs-buttons .ui-tabs-nav > li{
    border-radius: 5px;
    float: none!important;
    margin: 0 0 10px!important;
    position: static!important;
    text-align: center;
}

.tabs-buttons.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    border-radius: 5px;
    display: block;
    float: none;
    padding: 10px 18px 11px;
    white-space: pre-wrap;
}

.tabs-buttons.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    border: none!important;
}

.tabs-buttons.ui-tabs .ui-tabs-panel {
    border-radius: 5px;
}

.tabs-buttons.ui-tabs .ui-tabs-nav .ui-tabs-anchor,
.tabs-buttons.ui-tabs .ui-tabs-panel{
    border: 2px solid;
}

.ui-tabs-nav > li.ui-state-hover,
.tabs-buttons .ui-tabs-active .ui-tabs-anchor {
	transition: background 0.4s;
}

/* end 4.5) tabs */

/* 4.6) accordion and toggles */

.ui-accordion.accordion,
.toggles {
    margin: 0 0 15px;
}

.box-container .ui-accordion.accordion,
.box-container .toggles {
    margin-top: -10px;
}

.ui-accordion .ui-accordion-content,
.toggles > div {
    border-bottom: 2px solid;
    padding: 10px 10px 3px;
    overflow: auto;
}

.accordion-alt-style.ui-accordion .ui-accordion-content,
.toggles-alt-style.toggles > div {
	border: 2px solid;
    border-top: none !important;
	padding: 10px 18px 3px;
}

.ui-accordion .ui-accordion-header,
.toggles > p {
    border-bottom: 2px solid;
	cursor: pointer;	
	display: block;	
	font-size: 14px;	
	font-weight: 800;
	margin: 0;
	outline: 0;
	padding: 12px 10px 11px 35px;
	position: relative;	
	text-transform: uppercase;
	transition: background 0.4s;
}

.accordion-alt-style.ui-accordion .ui-accordion-header,
.toggles-alt-style.toggles > p {
	border: 2px solid;
	margin: 10px 0 0;
	padding: 10px 18px 11px 45px;	
}

.ui-accordion .ui-accordion-header .ui-accordion-header-icon,
.toggles > p span {
	font-size: 24px;
	font-weight: 400;
	height: 25px;
	margin-top: -13px;
	position: absolute;
}

.toggles > div {
    display: none;
}

.ui-accordion .ui-accordion-content p,
.toggles > div p,
.ui-accordion .ui-accordion-content ul,
.toggles > div ul {
    margin-bottom: 13px;
}

.accordion-alt-style .ui-accordion-header-icon, 
.toggles-alt-style.toggles > p span {
	margin-left: 7px;
}

/* end 4.6) accordions and toggles*/

/* 4.7) testimonial */

.testimonials-right-container {
	margin: 0 0 40px -85px;
	padding-top: 10px;
}

@media only screen and (max-width: 1320px) {
	.testimonials-right-container {
		margin-left: -75px;
	}
}

.testimonials-left-container img {
	left: 0;
	opacity: 0.8;
	position: absolute;
	top: 50px;
	width: 100%;   
}

.testimonial {
    overflow: auto;
    position: relative;
}

.testimonial + .testimonial {
	padding-top: 30px;
}

.testimonial-big + .testimonial-big {
	padding-top: 0;
}

.testimonial-big {
	margin-bottom: 40px;
}

.slider .testimonial {
	padding-top: 0;
}

.testimonial:after {
    content: "";
    display: table;
    clear: both;
}

.testimonial p {
    border: 2px solid;
    color: #444;
    float: left;
    font-size: 17px;
    font-style: italic;
    margin: 0 0 0 40px;
    padding: 15px 18px 18px;
    position: relative;
}

.testimonial-big p {
	border-radius: 7px;
	font-size: 20px;
	line-height: 30px;
	margin-left: 55px;
	padding: 25px 28px 28px;
	text-indent: 25px;
}

.testimonial .profile {
    clear: both;
    float: left;
    margin: 6px 0 0 0;
    position: relative;
    z-index: 2;
}

.testimonial-big .profile {
	margin-left: 4px;
}

.testimonial-big .profile img {
	height: 100px;
	width: 100px;
}

.testimonial-big .profile img {
	border: 2px solid;
	padding: 3px;
}

.testimonial .profile img {
	display: block;
}

.testimonial .profile-name {
    display: inline-block;
    float: left;
    font-size: 15px;
    margin: 35px 0 0 19px;
}

.testimonial-big .profile-name {
	font-size: 18px;
	margin-top: 50px;
}

.testimonial .profile-name .profile-from {
	font-size: 13px;
	font-style: italic;
}

.testimonial .pointer {
    background: #fff;
    bottom: -35px;
    height: 37px;
    left: -2px;
    overflow: hidden;
    position: absolute;
    width: 66px;
    z-index: 1;
}

.testimonial-big .pointer {
	bottom: -54px;
	height: 54px;
	left: 2px;
	width: 90px;
}

.testimonial .circle {
    border: 2px solid;
    border-radius: 50%;
    position: absolute;
}

.testimonial .wrapper {
    height: 39px;
    overflow: hidden;
    position: absolute;
    right: -5px;
    top: 2px;
    width: 25px;
}

.testimonial-big .wrapper {
	height: 94px;
	right: -4px;
	width: 34px;
}

.testimonial .circle-large {
    height: 220px;
    right: 0;
    top: -144px;
    width: 220px;
}

.testimonial-big .circle-large {
	color: #fff;
	box-shadow: 0 0 0 21px;
    height: 228px;
}

.testimonial .circle-small {
    height: 100px;
    left: -53px;
    top: 0;
    width: 100px;
}

.testimonial-big .circle-small {
	box-shadow: 0 0 0 45px;
    
	color:  #fff;
	height: 115px;
    left: -56px;
    width: 115px;
}

.testimonial-big .content p:before,
.testimonial-big .content p:after {
	font-family: Arial, sans-serif;
    font-size: 90px;
	font-weight: 700;
    position: absolute;
}

.testimonial-big .content p:before {
    content: "\201C";
    left: -25px;
    top: 30px;
    width: 80px;
}

.testimonial-big .content p:after {
    bottom: 37px;
    content: "\201E";
    right: 3px;
}

/* end 4.7) testimonial */

/* 4.8) feature */

.feature {
    border: 2px solid;
    margin-bottom: 20px;
    overflow: auto;
    padding: 13px 18px 16px;
}

@media only screen and (min-width: 1320px) {
	.feature {
		margin-bottom: 30px;
	}
}

.feature p {
    margin-bottom: 0;
}

.feature img{
    float: left;
    margin: 11px 20px 0 0;
}

.squared-feature {
	margin-bottom: 30px;
	position: relative;
}

.squared-feature-border {
	border: 3px solid rgba(0,0,0,0.3);
	box-sizing: border-box; 
	height: 90%;
	left: 0;
	margin: 5% 0 0 5%;
	position: absolute; 
	top: 0;   
	width: 90%;
}

.squared-feature-caption {
	background: rgba(0,0,0,0.4); 
	color: #fff;
	left: 50%;
	width: 60%;
	padding: 10px 20px; 
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	transition: background 0.4s;
}

.squared-feature-caption:hover {
	background: rgba(0,0,0,0.8); 
	text-decoration: none;
}

.squared-feature h3 {
	color: #fff;
	padding-top: 4px;
}

.squared-feature img {
	display: block;
	width: 100%;
}



/* end 4.8) feature */

/* 4.9) sliders */

ul.slider {
	margin: 0;
	padding: 0;
}

#hero-slider {
	background: #000 url(../loader-gif/loader-black.gif) no-repeat center center;
	position: relative;
}

#hero-slider img {
	display: none;
	width: 100%;
}

#hero-slider img.initial-img {
	display: block;
	opacity: 0;
}

#hero-slider.small-hero .owl-item {
	height: 250px;
	overflow: hidden;
}

#hero-slider.small-hero .owl-item img {
	height: 250px !important;
	left: 50%;
	margin-left: -375px;
	position: absolute;
	width: 750px !important;
} 

#hero-slider.small-hero .owl-wrapper-outer {
	height: 250px !important;
}
	
.hero-slider-caption-wrapper {
	bottom: 56px; 
	display: none;
	left: 0;
	margin: 0 auto;
	position: absolute;  
	right: 0;
}

.hero-slider-caption {
	color: #fff;
	font-size: 30px;
	font-weight: 700;
	font-style: italic;
	line-height: 45px;
	margin: 0 auto;
	text-align: center;
	text-shadow: 0 0 20px rgba(0,0,0,0.5), 0 0 4px rgba(0,0,0,0.5);
	width: 70%;
}

.small-hero .hero-slider-caption {
	font-size: 21px;
	line-height: 30px;
}

.posts-slider {
	margin: 59px 0 10px;
}

.posts-slider .owl-item {
	margin-right: 10px;
}

.testimonials-slider {
	padding-top: 10px;
	margin-bottom: 50px;
}

.gallery-slider {
	padding-top: 10px;
	margin-bottom: 40px;
}

.gallery-slider-main img {
	display: block;
	width: 100%;
}

.gallery-slider-thumbs img {
	display: block;
}

.slider.gallery-slider-thumbs {
	height: 80px;
	margin: 0 auto;
	padding: 20px 0 0 20px;
}

.gallery-small .slider.gallery-slider-thumbs {
	height: 40px;
	padding: 10px 0 0 10px;
}

.gallery-slider-thumbs .thumb {
	background: #000;
	display: block;
	height: 80px;
	width: 80px;
}

.gallery-slider-thumbs img {
	display: block;
	opacity: 0.5;
	transition: opacity 0.4s;
}

.gallery-small .gallery-slider-thumbs .thumb,
.gallery-small .gallery-slider-thumbs img {
	height: 40px;
	width: 40px;
}

.gallery-slider-thumbs .thumb:hover img,
.gallery-slider-thumbs .owl-item.current img {
	opacity: 1;
}

/* end 4.9) sliders  */

/* 4.10) pagination */

#pagination {
	margin-bottom: 30px;
	padding-top: 20px;
}

#pagination .page-button {
    border: 2px solid;
    display: block;
    float: left;
    font-size: 16px;
    font-weight: 700;
    margin: 0 10px 10px 0;
    min-width: 36px;
    overflow: auto;
    padding: 6px 0 5px;
    text-align: center;
	text-decoration: none;
	transition: border-color 0.4s, color 0.4s;
}

#pagination #current-page {
    border: 2px solid;
    float: left;
    font-size: 15px;
    font-weight: 700;
    margin: 0 10px 0 0;
    padding: 5px 18px 6px;
    text-align: center;
}

#pagination .page-button.prev,
#pagination .page-button.next {
    font-size: 30px;
    font-weight: 400;
    padding: 3px 0 8px;
}

/* end 4.10) pagination */

/* 4.11) quick fact */

.quick-fact {
    display: block;
    font-size: 36px;
    font-weight: 800;
	padding-top: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.quick-fact sup {
	font-size: 18px;
	line-height: 0;
}

/* end 4.11) quick fact */

/* 4.12) date and price */

.price-container,
.date-container {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    left: 0;
    min-height: 60px;
	position: absolute;
    text-align: center;
    top: 10px;
    width: 100px;
    z-index: 2;
}

.price-container {
	width: 120px;
}

.price-container p,
.date-container p {
    border-bottom: 1px solid #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;	
	margin-bottom: 0;
    padding: 3px 0 6px;
}

.price-container p:last-child,
.date-container p:last-child {
    border: none!important;
}

.price-container p.price,
.date-container p.date {
	padding: 17px 0 12px;
}

.price,
.date {
    display: inline-block;
	padding: 0;
    font-weight: 700;
}

.price > span,
.date > span {
    display: inline-block;
    text-align: center;
}

.price > span > span,
.date > span > span {
    line-height: 12px;
}

.amount,
.day {
    font-size: 28px;
    margin: 0 -1px 0 0;
}

.per,
.month {
    display: block;
    font-size: 11px;
}

.night,
.year {
    display: block;
    font-size: 10px;
}

.night {
	font-size: 11px;
}

/* end 4.12) date and price */

/* 4.13) table */

.lv-table-container {
	overflow: hidden;
}

.lv-table{
    border-collapse: collapse;
    margin: 20px 0 40px;
	overflow: hidden;
    table-layout: fixed;
    text-align: center;
    width: 100%;
}

.lv-table td{
    border: 1px solid;
    font-size: 15px;
    padding: 12px 20px 12px;
}

.lv-table tbody tr:first-child td{
    border-top: none;
}

.lv-table th{
    color: #fff;
    font-weight: 800;
    padding: 22px 20px 23px;
}

.lv-table tbody{
    border: 4px solid;
    border-top: none;
}

.lv-table-mobile, .lv-table-mobile thead, .lv-table-mobile tbody, .lv-table-mobile th, .lv-table-mobile td, .lv-table-mobile tr {
    display: block;
}

.lv-table-mobile thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.lv-table-mobile tbody {
    border: 2px solid;
    border-bottom-width: 1px;
    border-top-width: 2px;
}

.lv-table-mobile tbody td {
    border: none;
    border-bottom: 1px solid;
    position: relative;
    padding: 0 0px 0 50%;
    text-align: left;
    width: 50%!important;
}

.lv-table-mobile tbody td .td-wrap{
    border-left: 1px solid;
    display: block;
    height: 100%;
    padding: 10px 8% 12px;
    position: relative;
}

.lv-table-mobile tbody td .td-wrap-container{
    height: 100%;
}

.lv-table-mobile tbody td > .td-wrap-container{
    border-left: 1px solid;
}

.lv-table-mobile tbody td .td-wrap-container .td-wrap{
    border-left: none;
    padding: 0 8%;
    height: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.lv-table-mobile td:before,
.dummy-td {
    content: attr(data-before);
    font-size: 14px;
    font-weight: 800;
    left: 0;
    padding: 10px 0px 12px 18px;
    position: absolute;
    width: 42%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.lv-table-features {
	text-align: left;
}

/* end 4.13) table */

/* 4.14) maps */

.map-container iframe,
.map-container object,
.map-container embed,
.map-canvas-full {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.map-canvas {
    height: 430px;
}

.map-canvas.tall-map {
	height: 540px;
}

@media only screen and (min-width: 990px) and (max-width: 1320px) {
	.map-canvas.tall-map {
		height: 695px;
	}
}

.map-marker-container {
    background-color: #fff;
    border: 2px solid;
    font-size: 14px;
    font-weight: 800;
    max-width: 140px;
    min-height: 26px;
    min-width: 100px;
    padding: 10px 16px;
    position: absolute;
    text-align: center;
}

.map-marker-container:before,
.map-marker-container:after {
    border-right-color: transparent!important;
    border-bottom-color: transparent!important;
    border-left-color: transparent!important;
    border-style: solid;
    content: ' ';
    height: 0;
    left: 50%;
    position: absolute;
    width: 0;
}

.map-marker-container:before {
    border-width: 12px 10px 0 10px;
    bottom: -12px;
    margin-left: -10px;
}

.map-marker-container:after {
    border-top-color: #fff;
    border-width: 8px 7px 0 7px;
    bottom: -8px;
    margin-left: -7px;
}

.map-marker-dot {
    border: 1px solid;
    border-radius: 6px;
    bottom: -35px;
    height: 12px;
    left: 50%;
    margin-left: -6px;
    position: absolute;
    width: 12px;
}

.map-marker-dot-inner {
    border-radius: 6px;
    height: 10px;
    left: 1px;
    position: absolute;
    top: 1px;
    width: 10px;
}

/* end 4.14) maps */

/* 4.15) diamond */

.diamond-wrapper {
	height: 216px;
	overflow: hidden;
	position: relative; 
	width:100%;  
}

.diamond-img {
	height: 208px;
	left: 50%;
	margin-left: -185px;
	position: absolute;
	top: 0px;
	width: 370px; 
}

.diamond {
	border: 150px solid #fff;
	height: 140px;
	left: 50%; 
	margin-left: -220px; 
	position: absolute; 
	top: -114px; 	
	transform: rotate(45deg);
	width: 140px;   
}

.diamond-border {
	border: 2px solid;
	height: 146px;
	left: 50%; 
	margin-left: -75px; 
	position: absolute; 
	top: 31px; 	
	transform: rotate(45deg);
	width: 146px;
}

.diamond-arrow {
	margin: -16px 0 21px; 
	position: relative;
	text-align: center;
}

.diamond-arrow i {
	font-size: 26px; 
}

/* end 4.15) diamond */

/* 4.16) masonry gallery */

.masonry-gallery-wrapper {
	margin-bottom: 30px;
	/*padding-top: 85.5%;*/
	padding-top: 100%;
	position: relative;
	width: 100%;
}

.masonry-gallery-container {
	position: absolute;
	top: 0;
	width: 100%;
}

.masonry-gallery-wrapper:not(.gallery-mobile) .masonry-gallery-container {
	height: 100% !important;
}

.grid-sizer {
	width:  25%;
}

.gallery-item {
	width:  25%;
	height: 25%;
	float: left;
}

.gallery-item-w2 { width: 50%; }
.gallery-item-w3 { width: 75%; }
.gallery-item-w4 { width: 100%; }

.gallery-item-h2 { height: 50%; }
.gallery-item-h3 { height: 75%; }
.gallery-item-h4 { height: 100%; }

.inner-gallery-item {
	bottom: 5px;
	left: 5px;
	overflow: hidden;
	position: absolute;
	right: 5px;
	top: 5px;
}

.inner-gallery-item iframe {
	height: 100%;
	width: 100%;
}

.gallery-item-caption-wrapper {
	background: rgba(0,0,0,0.7);
	bottom: 15px;
	color: #fff; 
	display: block;
	left: 15px;
	padding: 15px;
	position: absolute; 
	right: 15px;
	text-align: center;
	top: 15px;  
	transition: background 0.4s;
	z-index: 2;
}

.gallery-item-caption-wrapper:hover {
	background: rgba(0,0,0,0.8);
}

.gallery-item-caption-wrapper-border {
	background: transparent;
	background-clip: padding-box; 
	border: 3px solid rgba(255,255,255,0.5);
	transition: background 0.4s, border-color 0.4s;
}

.gallery-item-caption-wrapper-border:hover {
	background: rgba(255, 255, 255, 0.2);
}

.gallery-item-caption {
	display: block;
	left: 20px;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	-webkit-filter: blur(0px);
}

.gallery-item-caption-title {
	color: #fff;
	font-size: 18px;
	font-weight: 800;
	text-transform: uppercase;
	transition: color 0.4s;
}

.gallery-item-caption-title:after {
	background: #fff;
	content: "";
	display: block;
	height: 2px;
	margin: 11px auto 12px;
	width: 50px;
}

.gallery-item-caption-wrapper-border .gallery-item-caption-title:after {
	display: none;
}

.gallery-wrapper.gallery-mobile {
	height: auto;
	margin: 0 auto 30px;
	max-width: 500px;
	padding-top: 0;
}

.gallery-mobile .gallery-container {
	position: static;
}

.gallery-mobile .gallery-item,
.gallery-mobile .gallery-item-w2,
.gallery-mobile .gallery-item-w3,
.gallery-mobile .gallery-item-w4 { 
	height: auto;
	padding-top: 56.25%;
	width: 100%; 
}

/* end 4.16) masonry gallery */

/* end 4) elements */

/* --------------------------------------------------------------------------------- */

/* -------------------------- */
/* 5) misc */
/* -------------------------- */

.aligncenter {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

img.alignleft {
	margin: 8px 20px 7px 0;
}

img.alignright {
	margin: 8px 0 7px 20px;
}

.aligncenter .button,
.aligncenter .button-small,
.aligncenter .button-big {
	margin-right: 0;
}

.featured-img img {
	display: block;
	margin-top: 8px;
	transition: opacity 0.4s;
	width: 100%;
}

.featured-img a:hover img {
	opacity: 0.7;
}

.featured-img {
	position: relative;
}

p.featured-img {
	margin-bottom: 20px;
}

div.featured-img {
	padding-top: 2px;
	margin-bottom: 20px;
}

h3 + div.featured-img {
	margin-top: 14px;
}

.full-width-img {
	width: 100%;
}

.rounded-img {
    border-radius: 50%;
}

.box-container {
	margin-bottom: 40px;
	padding-top: 10px;
}

.signature {
	font-family: 'Allura', cursive;
	font-size: 36px;
	margin-top: -15px;
}

.signature img {
	margin-top: -5px;
}

.small-separation {
	height: 2px;
	margin: 0 0 28px;
	width: 50px;
}

.bg-img,
.bg-img-content {
	left: -9999px;
	position: absolute;
	top: 0;
	z-index: -1;
	/* -webkit-transform: translate3d(0,0,0); */
}

.bg-img-content {
	z-index: 1;
}

.bg-img-fixed {
	position: fixed;
}

.fa {
	font-size: 18px;
}

#go-to-top {
	border-radius: 5px;
	bottom: 15px;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
	color: #fff;
	display: none;
	height: 40px;
	position: fixed;
	right: 20px;
	text-align: center;
	transition: background 0.4s;
	width: 40px;
	z-index: 200;
}

#go-to-top:hover {
	box-shadow: none;
}

#go-to-top .fa {
	font-size: 14px;
	line-height: 38px;
}

.no-top-margin {
	margin-top: -25px;
}

.mobile-only {
	display: none;
}

.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}

.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}

.ui-helper-clearfix:after {
	clear: both;
}

/* end 5) misc */

/* --------------------------------------------------------------------------------- */

::-webkit-input-placeholder { /* WebKit browsers */
    color: rgba(0,79,108,1);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: rgba(0,79,108,1);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: rgba(0,79,108,1);
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: rgba(0,79,108,1);
}

/* Copyright AurelienD http://themeforest.net/user/AurelienD?ref=AurelienD */