/* 
colors:
#64cce7 (light blue)
#0f5185 (dark blue)
#e6facc (lighter blue)
#fff (white) for hovers
#fbf2c7 (beige)
#fae3af (dark beige)
*/

/*
#1ba7d2 (light blue)
*/

.booking-area {
	/*background: rgba(15,81,133,0.3);*/
	background: rgba(255,255,255,0.8);
}

/*
main color (title area background, call-to-action area background, menu, blockquote...)
*/

.call-to-action-area,
#title-area {
	background: #64cce7;
}

blockquote,
.map-marker-dot-inner,
.small-separation
{
    background: #64cce7;
}

.diamond-border,
.header,
hr,
h2.underlined,
#meta-side h5,
.map-marker-container,
.map-marker-dot,
.map-marker-container:before,
.mobile-header .sf-menu,
.mobile-header .sf-menu li,
.mobile-header .sf-menu ul,
#sidebar h4,
#sidebar .tag:hover,
.ui-datepicker td.ui-datepicker-current-day .ui-state-default.ui-state-active
{
	border-color: #64cce7;
}

.sf-menu ul,
.sf-menu ul li
{
	border-color: rgb(200, 200, 200);
}

.ui-datepicker td .ui-state-default.ui-state-hover {
	border-color: #64cce7 !important;
}

.diamond-arrow i,
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, 
.dropcap:first-letter,
.highlighted ,
.map-marker-container,
.quick-fact,
ul.disc-bullet li:before
{
	color: #64cce7;
}

/*
input and pagination
*/

.checkbox,
input[type="text"],
#pagination .page-button,
.radio,
.select-box,
textarea
{
	border-color: #0f5185;
}

#pagination .page-button,
.search-form button,
.select-box:after,
.ui-datepicker-trigger {
    color: #0f5185;
}

/*
input focus and pagination hover
*/

.checkbox.active,
.checkbox.focus,
input[type="text"]:focus,
#pagination .page-button.active,
#pagination .page-button:hover,
.radio.active,
.radio.focus,
.select-box.select-boxFocus,
textarea:focus
{
    border-color: #64cce7;
}

.radio .circle,
.radio.active .circle {
	background: #64cce7;
}

.checkbox .tick,
#current-page,
#pagination .page-button.active,
#pagination .page-button:hover,
.search-form button:hover,
.select-box.select-boxFocus:after,
.testimonial-big .content p:before,
.testimonial-big .content p:after,
.ui-datepicker-trigger:hover
{
    color: #64cce7;
}

/*
secondary color (tabs, toggles...)
*/

.accordion-alt-style.ui-accordion .ui-accordion-content,
.accordion-alt-style.ui-accordion .ui-accordion-header,
#current-page,
.feature,
.tabs,
.tabs-buttons.ui-tabs .ui-tabs-nav .ui-tabs-anchor,
.tabs-buttons.ui-tabs .ui-tabs-panel,
.testimonial p,
.testimonial .circle,
.testimonial-big .circle-large
.testimonial-big .circle-small,
.testimonial-big .profile img,
.toggles > p,
.toggles > div,
.toggles-alt-style.toggles > p,
.toggles-alt-style.toggles > div,
.ui-accordion .ui-accordion-header,
.ui-accordion  .ui-accordion-content,
.ui-datepicker td .ui-state-default.ui-state-active
.ui-datepicker td .ui-state-default.ui-state-hover:active,
.ui-tabs-panel,
.ui-tabs-nav > li 
{
	border-color: #64cce7;
}

/*
tabs & toggles background on hover
*/

.tabs-buttons .ui-tabs-active .ui-tabs-anchor,
.toggles > p:hover,
.ui-accordion .ui-accordion-header.ui-state-hover,
.ui-tabs-nav > li.ui-state-hover {
    background: #c8f2f5;
}

/*
toggle icon
*/

.toggles .icon,
.ui-accordion .ui-accordion-header .ui-accordion-header-icon
{
	color: #0f5185;
}

/*
links
*/

a,
#meta-side .comment-bubble span,
#meta-side .author-name,
#meta-side .category,
.right-header a:hover,
.sf-menu  li.dropdown-submenu li.dropdown-submenu a:hover:after {
    color: #fff;
}

/*
alternative color row
*/

.yellow-row,
.yellow-row .testimonial .pointer {
	background: #fbf2c7;
}

/*
elements in alternative color row
*/

.yellow-row .accordion-alt-style.ui-accordion .ui-accordion-content,
.yellow-row .accordion-alt-style.ui-accordion .ui-accordion-header,
.yellow-row .feature,
.yellow-row h2.underlined,
.yellow-row .tabs,
.yellow-row .tabs-buttons.ui-tabs .ui-tabs-nav .ui-tabs-anchor,
.yellow-row .tabs-buttons.ui-tabs .ui-tabs-panel,
.yellow-row .testimonial p,
.yellow-row .testimonial .circle,
.yellow-row .toggles > p,
.yellow-row .toggles > div,
.yellow-row .toggles-alt-style.toggles > p,
.yellow-row .toggles-alt-style.toggles > div,
.yellow-row .ui-accordion .ui-accordion-header,
.yellow-row .ui-accordion  .ui-accordion-content,
.yellow-row .ui-tabs-panel,
.yellow-row .ui-tabs-nav > li
{
    border-color: #fae3af;
}

/*
secondary elements (comment, meta...)
*/

.comment .date,
.comment.author-comment .comment-bubble,
#meta-side,
.meta-bottom,
.lv-table tbody tr:nth-child(2n) td,
.ui-datepicker {
	background: #fbf2c7;
}

.comment .comment-bubble,
.comment .comment-bubble:before,
.comment.author-comment .comment-bubble:after,
#sidebar a,
#sidebar  a.tag,
#sidebar ul li
{
	border-color: #fbf2c7;
}

/* 
author comment 
*/

.author-comment.comment .comment-bubble,
.author-comment.comment .comment-bubble:before
{
    border-color: #fae3af;
}

#meta-side .comment-bubble 
{
	color: #fae3af;
}

/*
table header background
*/

.lv-table th {
	background: #64cce7;
}

/*
table borders
*/

.lv-table tbody,
.lv-table tbody td,
.lv-table tbody td .td-wrap,
.lv-table tbody td .td-wrap-container {
	border-color: #fae3af;
}

/*
top header background color
*/

.top-header
{
	background: #fbf2c7;
}

/*
top footer background color
*/

#top-footer 
{
	background: #fae3af;
}

/*
bottom footer background color
*/

#bottom-footer {
    background: #fbf2c7;
}

/*
top header and footer text color
*/

footer,
footer a,
.top-header,
.top-header a {
	color: #444;
}

/*
selection
*/

::selection {
	background: #64cce7;
}

::-moz-selection {
  background: #64cce7;
}

/* ------------ button colors ------------ */

/*
button
*/

.button,
.button-medium,
.button-big,
form.submitted input[type="submit"],
#go-to-top,
.mobile-header .menubtn,
.owl-buttons div,
.owl-page.active span,
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next
{
	/*background: #0f5185;*/
	background: #1ba7d2;
}

.ui-datepicker .ui-state-disabled.ui-datepicker-prev,
.ui-datepicker .ui-state-disabled.ui-datepicker-next {
    background: rgba(15, 81, 133, 0.3);
}

.gallery-slider-main  .owl-buttons div,
#hero-slider .owl-buttons div {
	background: rgba(15,81,133,0.5);
}

.owl-page span,
.owl-theme .owl-controls.clickable .owl-page.active:hover span 
{
	border-color: #0f5185;
}

.mobile-header span.plus-minus {
	color: #0f5185;
}

/*
button on hover
*/

.button:focus,
.button:hover,
.button-medium:focus,
.button-medium:hover,
.button-big:focus,
.button-big:hover,
#go-to-top:hover ,
.mobile-header .menubtn:hover,
.owl-buttons div:hover,
.ui-datepicker .ui-datepicker-prev.ui-state-hover,
.ui-datepicker .ui-datepicker-next.ui-state-hover
{
	background: #64cce7;
}

.gallery-slider-main  .owl-buttons div:hover,
#hero-slider .owl-buttons div:hover 
{
	background: rgba(99,203,232,0.8);
}

.mobile-header span.plus-minus:hover,
.owl-page:hover span
{
	border-color: #64cce7;
}

.mobile-header span.plus-minus:hover {
	color: #64cce7;
}

/* button active */

/*
.button:active
{
	background: #fff;
}
*/

.ui-datepicker td .ui-state-default.ui-state-hover:active 
{
	border-color: #fff;
}

.caption-call-to-action a.button-big:active,
.caption-call-to-action a.button-big:active:hover,
.call-to-action-area a.button-big:active,
.call-to-action-area a.button-big:active:hover
{
	background: #fae3af;
	color: #64cce7;
}

.caption-call-to-action a.button-big:active,
.caption-call-to-action a.button-big:active:hover 
{
	color: #fff;
}

/*
call to action button
*/

.call-to-action-area a.button-big
{
	background: #0f5185;
}

/*
call to action button on hover
*/

.call-to-action-area a.button-big:hover,
.call-to-action-area a.button-medium:hover,
.call-to-action-area a.button:hover
{
	background: #fff;
	color: #0f5185;
}

.caption-call-to-action a.button-big:hover
{
	background: #64cce7;
	color: #fff;
}

/*
misc
*/

.yellow-row .sub-heading {
	color: #96895a;
}

.grey-row {
	background: #f7f7f7
}
 
.yellow-row .testimonial-big p {
	background: #fbf6db;
}

.yellow-row .testimonial-big .circle-large {
	color: #fbf2c7;
}

.yellow-row .testimonial-big .circle-small {
	color: #fbf6db;
}

.yellow-row .testimonial-big .content p:before,
.yellow-row .testimonial-big .content p:after {
    color: #fae3af;
}

.yellow-row .testimonial-big .profile img {
	border-color: #efd7a3;
}