<!--When going to '/', this html file will be injected into the template file -->

<!-- public/views/home.html -->

<div id="wrapper" class="wrapper-boxed" ng-controller="HomeController"><!-- or <div id="wrapper" class="wrapper-boxed"> for an boxed layout -->

	<header>
		
		<div class="header fixed-header"><!-- or <div class="header"> for a scrolling header -->
			<div class="container">
				
				<a href="index.html" id="logo"><h1><img src="img/logo/logo-white.png" alt="" /></h1></a>
				
				<div class="right-header">
				
					<nav class="responsive-menu">
						<a href="#" class="menubtn"><i class="fa fa-bars"></i>Menu</a>
						<ul class="sf-menu">
							<li><a href="index.html">Log In</a></li>					
							<li><a href="index.html">Help</a></li>
							<!-- <li><a href="index.html" class="button-big aligncenter">List Your Business</a></li> -->
						</ul>
					</nav>
					
				</div><!-- end .right-header -->
				
			</div><!-- end .container -->
		</div><!-- end .header -->
		
	</header><!-- end header -->

	<div id="hero-img" class="taller-img hero-home-page">
		<img src="img/bg/beach.png" alt="" />
		<div id="hero-img-caption-wrapper">
			<div id="hero-img-caption">
				<div class="container">
					<p class="caption-heading">Welcome Vapers</p>
					<p class="caption-sub-heading">Search local OC vape shops for products you need now</p>
				</div>
			</div>
		</div>
	</div><!-- end #hero-img -->
	
	<div class="row"><!-- intro -->

		<div class="booking-area">
			<div class="container">
				
				<form name="searchForm" ng-submit="searchForm.$valid && searchProduct()" novalidate>
				
					<div class="column-6">
						<p class="inner-container">
							<label for="product-name">Product</label>
							<input id="product-name" type="text" placeholder="What would you like to search for?" ng-model="productName">
						</p>
					</div>		

					<div class="column-4">
						<p class="inner-container">
							<label for="user-location">Location</label>
							<input id="user-location" type="text" placeholder="Where at?" ng-model="userLocation">
						</p>
					</div>

					<!-- 
					<div class="column-4">
						<p>
							<label for="product-category">Category</label>
							<select id="product-category" class="select-box" ng-model="productCategory">
								<option value="" disabled selected>Select a category</option>
								<option value="all-categories">All Categories</option>
								<option value="juice">Juices</option>
								<option value="mod">Mods</option>
								<option value="accessory">Accessories</option>
							</select>
						</p>
					</div>		
					-->				
					<div class="column-2 column-last">
						<input type="submit" class="button-big aligncenter" value="Search"/>
					</div>

				</form>
				
			</div><!-- end .container -->
		</div><!-- end .booking-area -->			
	
		<div class="container">

			<div class="aligncenter">
				<h2 class="underlined">About InStore</h2>
				<p class="sub-heading">Wouldn’t you want to know if something you wanted was available <br>and cheaper at a nearby store? InStore provides accurate and updated <br>information about product availability and pricing at retail stores near you.</p>
			</div>
			
			<div class="column-4">
				<div class="diamond-wrapper">
					<img src="" class="diamond-img" alt="" />
					<div class="diamond"></div>
					<div class="diamond-border"></div>
				</div>
				<div class="diamond-arrow">
					<i class="fa fa-angle-down"></i>
				</div>
				<h3 class="aligncenter">Product Availability</h3>
				<p class="aligncenter">
					Avoid wasted trips by checking availability before you get there.
				</p>
			</div>
			
			<div class="column-4">
				<div class="diamond-wrapper">
					<img src="" class="diamond-img" alt="" />
					<div class="diamond"></div>
					<div class="diamond-border"></div>
				</div>
				<div class="diamond-arrow">
					<i class="fa fa-angle-down"></i>
				</div>
				<h3 class="aligncenter">Product Pricing</h3>
				<p class="aligncenter">
					Get the best deal by comparing prices at stores in your area.
				</p>
			</div>		
			
			<div class="column-4 column-last">
				<div class="diamond-wrapper">
					<img src="img/views/mountains.jpg" class="diamond-img" alt="" />
					<div class="diamond"></div>
					<div class="diamond-border"></div>
				</div>
				<div class="diamond-arrow">
					<i class="fa fa-angle-down"></i>
				</div>
				<h3 class="aligncenter smaller">Live and Accurate</h3>
				<p class="aligncenter">
					Our server is live so your search is guaranteed in real time.
				</p>
			</div>
			
		</div><!-- end .container -->
		
	</div><!-- end .row (intro) -->

	<div class="call-to-action-area">
		<div class="container">
		
			<p class="aligncenter">
				Are you a retail store looking to get more exposure for your inventory? 
			</p>
			<p class="aligncenter">
				<a href="booking-2.html" class="button-medium">List Your Business</a>
			</p>
			
		</div><!-- end .container -->
	</div><!-- end .call-to-action-area -->
	
</div><!-- end #wrapper