<!DOCTYPE html>
<html lang="en" ng-app="angularApp">
   
   <head>
   		<meta charset="UTF-8">
    	<base href="/">
 		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width">
        <title>InStore</title>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300italic,400italic,700italic" />
		<link rel="stylesheet" type="text/css" href="styles/reset.css" />
		<link rel="stylesheet" type="text/css" href="styles/styles.css" />
		<link rel="stylesheet" type="text/css" href="libs/font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="styles/responsive-grid/default.css" />
		<link rel="stylesheet" type="text/css" href="styles/responsive-grid/big-desktop.css" />
		<!--<link rel="stylesheet" type="text/css" media="only screen and (max-width: 1320px)" href="styles/responsive-grid/small-desktop.css" />-->
		<link rel="stylesheet" type="text/css" media="only screen and (max-width: 990px)" href="styles/responsive-grid/tablet.css" />
		<link rel="stylesheet" type="text/css" media="only screen and (max-width: 660px)" href="styles/responsive-grid/mobile.css" />
		<link rel="stylesheet" type="text/css" media="only screen and (max-width: 990px)" href="styles/tablet.css" />
		<link rel="stylesheet" type="text/css" media="only screen and (max-width: 660px)" href="styles/mobile.css" />
		<link rel="stylesheet" type="text/css" href="styles/colors/blue-orange.css">
		<link rel="stylesheet" type="text/css" href="styles/datepicker.css">
		<link rel="stylesheet" type="text/css" href="styles/magnific-popup.css">

		<!-- JS -->
   		<script src="libs/angular/angular.min.js"></script>
   		<script src="libs/angular-route/angular-route.min.js"></script>

   		<!-- ANGULAR CUSTOM -->
   		<script src="js/controllers/MainCtrl.js"></script>
   		<script src="js/controllers/HomeCtrl.js"></script>
    	<script src="js/controllers/ProductSearchCtrl.js"></script>
    	<script src="js/services/ProductService.js"></script>
    	<script src="js/appRoutes.js"></script>
    	<script src="js/app.js"></script>
    </head>
	
    <body ng-controller="MainController">
		
		<div ng-view></div>
		
		<!-- The below is a small button to go to top of page -->
		<!-- <a id="go-to-top" href="#"><i class="fa fa-chevron-up"></i></a> -->

		<footer>
		
			<div id="top-footer">
				<div class="container">
					
					<div class="column-3">
						<h4>Useful links</h4>
						<ul>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Terms of Usage</a></li>
							<li><a href="#">Careers</a></li>
						</ul>
					</div><!-- end .column-3 -->					
					
					<div class="column-3">
						<h4>Contact details</h4>
						<ul>
							<li>InStore</li>
							<!-- <li>32 Ocean Road</li> -->
							<li>Irvine, California</li>
							<!-- <li>Phone: +871 9326 988</li>
							<li>Fax: +871 9326 989</li> -->
							<li><a href="mailto:shay@awesome.com?subject=Reaching%20Out&body=How%20are%20you">Contact Us</a></li>
						</ul>
					</div><!-- end .column-3 -->					
					
					<div class="column-3">
						<h4>Follow us</h4>
						<ul class="social-links-list">
							<li>
								<a href="#" class="social-link facebook-button">
									<i class="fa fa-facebook"></i>
									<span>Facebook</span>
								</a>
							</li>
							<li>
								<a href="#" class="social-link googleplus-button">
									<i class="fa fa-google-plus"></i>
									<span>Google+</span>
								</a>
							</li>
							<li>
								<a href="#" class="social-link twitter-button">
									<i class="fa fa-twitter"></i>
									<span>Twitter</span>
								</a>
							</li>
						</ul>
					</div><!-- end .column-3 -->
					
					<div class="column-3 column-last">
						<h4>About us</h4>
						<p>
							InStore provides accurate and updated information about product availability and pricing at retail stores near you.
						</p>
					</div><!-- end .column-3 -->
					
				</div><!-- end #container -->
			</div><!-- end #top-footer -->
			
			<div id="bottom-footer">
				<div class="container">
					
					<div class="column-4">
						&copy; InStore 2014</a>
					</div><!-- end .column-4 -->
					
					<div class="column-8 column-last">
						<ul>
							<li><a href="index-2.html">Home</a></li>
							<li><a href="news-list.html">News</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div><!-- end .column-8 -->
					
				</div><!-- end .container -->
			</div><!-- end #bottom-footer -->
			
		</footer>

	</body>

</html>