<!-- When going to '/products', this html file will be injected into the template file -->

<!-- public/views/products.html -->

<div id="wrapper" class="wrapper-boxed" ng-init="init()">

	<div class="container">

		<h1>Product Search Page</h1>

	</div>

	<div class="container">

	    <form name="searchForm" ng-submit="searchForm.$valid && searchProduct()" novalidate>
				
			<div class="column-6">
				<p class="inner-container">
					<label for="product-name">Product</label>
					<input id="product-name" type="text" placeholder="What would you like to search for?" ng-model="productName">
				</p>
			</div>		

			<div class="column-4">
				<p class="inner-container">
					<label for="user-location">Location</label>
					<input id="user-location" type="text" placeholder="Where at?" ng-model="userLocation">
				</p>
			</div>
		
			<div class="column-2 column-last">
				<input type="submit" class="button-big aligncenter" value="Search"/>
			</div>

		</form>

    </div>

	<div class="container">

		<h2>Query</h2>

		<div class="container">

			<ul>
				<li>Name: {{ productName }}</li>
				<li>Location: {{ userLocation }}</li>
			</ul>

		</div>

    </div>

    <div class="container">

    	<h2>Results: {{ products.length }}</h2>

		<div class="container">
		    <ul>
		    	<li ng-repeat="product in products">Product Id: {{product._id}}</li>
			</ul>
		</div>
	</div>

</div>